@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* body {
  background-color: #88effd;
} */

#splash {
  background-image: url("../public/codingsplash.jpg");
  width: 100vw;
  height: 90vw;
  top: 100;
  left: 0;
  background-size: contain;
  max-height: 100vh;
}
